<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.percent-input::after {
	    content: '%';
	    position: absolute;
	    right: 5px;
	    top: 50%;
	    transform: translateY(-50%);
	    pointer-events: none;
	}
</style>
</head>
<body>
 	<form action="createComplete" method="post">
 		상품 번호: <input type="text" name="savings_num" id="savings_num"> <br>
 		상품 이름: <input type="text" name="savings_name" id="savings_name"> <br>
 		기간: <input type="text" name="create_date" id="create_date"> <br>
 		가입 최소 금액: <input type="text" name="min_money" id="min_money" oninput="addWon()"> <br>
 		이율: <input type="text" name="rate" id="rate" oninput="addPercent()" > <br>
 		적금 유형: <select name="fr_or_in" id="select">
 					<option value="fr" name="fr">자유 적금</option>
 					<option value="in" name="in">정기 적금</option>
 				 </select> <br>
 		<input type="submit" value="등록" onclick="save()">
	</form>
	
	<script type="text/javascript">

	 <!-- function addPercent() {
         var input = document.getElementById('percent');
         var value = input.value;
         
         // '%'가 이미 붙어 있는지 확인하고, 붙어 있다면 제거
         if (value.endsWith('%')) {
             value = value.slice(0, -1);
         }
         
         // 입력값이 빈 문자열이 아니면 '%'를 다시 붙임
         if (value !== '') {
             value += '%';
         }

         input.value = value;
     }
	 
	 function addWon() {
         var input = document.getElementById('won');
         var value = input.value;
         
         // '%'가 이미 붙어 있는지 확인하고, 붙어 있다면 제거
         if (value.endsWith('원')) {
             value = value.slice(-1);
         }
         
         // 입력값이 빈 문자열이 아니면 '%'를 다시 붙임
         if (value !== '') {
             value += '원';
         }

         input.value = value;
     }-->
	</script>
</body>
</html>