<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style/register/makeAccount.css">
<link rel="stylesheet" href="style/admin/admin.css">
</head>
<body>
<th:block th:replace="layouts/headerManager :: headerManagerFragment"></th:block>
	<div class="product_section">
		<a href="mainManager">주거래 통장 상품 목록</a> <br> <br>
		<a href="depositManager">예금 통장 상품 목록</a> <br> <br>
		<a href="savingsManager">적금 통장 상품 목록</a> <br>
	</div>
<th:block th:replace="layouts/footer :: footerFragment"></th:block>
</body>
</html>