<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:each="list:${list}">
		<div>
				주거래 통장<br>
			<a th:href="@{/detailMain(product_num=${list.product_num})}"
				th:text=${list.deposit_name}>
			</a>
		</div> <br>
		<span>
			<span th:text="'기간: ' + ${list.create_date} + ' / '" ></span>
			<span th:text="'이율: ' + ${list.rate}"></span>
		</span>		
	<hr>
	</div>
	<form action="createMain" method="post">
		<input type="submit" value="상품 등록">
	</form>
</body>
</html>