<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>적금 상품 페이지</h1>
		<span th:text=" '상품 이름: ' + ${savings.deposit_name} "></span>
		<br>
		<span th:text=" '금리: ' + ${savings.rate} "></span>
		<br>
		<span th:text=" '가입기간: ' + ${savings.create_date} + '년' " ></span>
	<form action="joinComplete" method="post">
	<input type="hidden" name="product_num" th:value="${savings.product_num}">
	
	<span>계좌 선택 >> </span>
		<select name="account_num" id="account_num" >
			<option value="" selected disabled>계좌 선택</option>
			<option th:each="account : ${account}"
					th:value="${account}"
					th:utext="${account}"></option>
		</select>
		<br>
		<span class="totalMoney"></span>
		<br>	
		가입 금액: <input name="total" type="text" id="savings_money" th:placeholder="'가입 최소금액은 '+${savings.min_money}+'원'"> <br>
		<input type="submit" value="가입하기" onclick="return func()">
	</form>
	
	<script th:inline="javascript">
	
		const select_account = document.querySelector("#account_num");
		
		const savings_money=document.querySelector("#savings_money");
		const totalText = document.querySelector(".totalMoney");
		const account2 = [[${account}]]
		const total = [[${total}]]
		const accountPW = [[${accountPW}]];
		
	
		let accountnum = '';
		let ck = false;
		let totalMoney;
		let pwCk;
		
		const func=() => {
			ck = false;
			let money;
			let account_pw = Number(prompt("계좌 비밀번호 입력"));
			
			for(let i=0; i<account2.length; i++) {
				console.log(account_num.value)
				if(account2[i]===account_num.value) {
					money = total[i]
				}
			}if(Number(money) > Number(totalMoney)) {
				alert("잔액이 부족합니다. 다른 계좌를 선택하세요")
			}else if(pwCk != account_pw){
				alert("계좌 비밀번호가 다릅니다.")
			}
			else {
				alert("가입되었습니다!")
				ck = true;
			}
			return ck
		}
		
		const funcChange = () =>{
			let selectIndex = select_account.selectedIndex;
			totalMoney = total[selectIndex - 1];
			pwCk = accountPW[selectIndex - 1];
			
			totalText.innerText = `총 잔액 : ${total[selectIndex - 1]}원`;
		}
		
		select_account.addEventListener('change', funcChange);
	</script>
</body>
</html>