<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<th:block th:replace="~{layouts/header :: headerFragment}"></th:block>
	<h1>입출금 통장</h1>
	 <div th:each="list : ${depositVO}">
	<hr>
	<a th:href="@{mainAccountDetail(product_num=${list.product_num})}">
		<span th:text="'상품명: '+${list.deposit_name}"></span>
	</a>
	<br>
	<span th:text="'상품기간: ' +${list.create_date}"></span>
	<br>
	<span th:text="'최소금액: ' +${list.min_money}"></span>
	<br>
	<span th:text="'금리: ' +${list.rate}"></span>
	<br>
	<hr> 
	</div>
<button type="button" onclick="location.href='/'">뒤로가기</button>
	<script th:inline="javascript">

	</script>
</body>
</html>