<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>입출금 통장</title>
<link rel="stylesheet" href="/css/bootstrap.css">

</head>
<body>
<th:block th:replace="~{layouts/header :: headerFragment}"></th:block>
	<h1 style="margin-bottom: 20px; margin-left: 45%;">입출금 통장</h1>
	
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>상품이름</th>
                <th>기간</th>
                <th>최소금액</th>
                <th>금리</th>
            </tr>
        </thead>
        <tbody th:each="list : ${depositVO}" class="product__items">
            <tr >
                <td>
                	<a th:href="@{/mainAccountDetail(product_num=${list.product_num})}"
						th:text="${list.deposit_name}"></a>
                </td>
                <td th:text="${list.create_date} + '년'"></td>
                <td th:text="${#numbers.formatInteger(list.min_money, 3, 'COMMA')} + '원'"></td>
                <td th:text="${list.rate} + '%'"></td>
            </tr>
        </tbody>
    </table>
   
<button type="button" class="btn btn-primary" onclick="location.href='/'" style="margin-bottom: 20px; margin-left: 45%">뒤로가기</button>

<th:block th:replace="layouts/footer :: footerFragment"></th:block>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script th:inline="javascript">
	function formatNumber(number) {
    	return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			 }

	</script>
</body>
</html>