<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>입출금 통장 개설</h1>

	<form action="accountComplete" method="post">
				<input type="hidden" name=id th:value="${session.login.id}">
		계좌번호 	<input type="text" name="account_num" id="account" readonly>
				<br>
		계좌 비밀번호 <input type="password" name="account_pw" id="account_pw">
		<br>
		금액 	<input type="text" name="total"><br>
		<input type="submit" value="개설" onclick="func()">
		<button type="button" onclick="location.href='/'">뒤로가기</button>
	</form>

	<script type="text/javascript">
		let fix = 4;
		let accountnum = '';
		for(let i = 0; i < 8; i++){
			accountnum += Math.floor(Math.random()*10);
		}
		const account = `${fix}${accountnum}`;
		document.getElementById('account').value = account;
	
	</script>
</body>
</html>