<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>조회 페이지입니다!!!!</h1>
		<select id="account_select">
			<option value="none"> === 선택 === </option>
			<option class="account_option" th:each="list : ${accountNum}" th:text="${list}"></option>
		</select>
		<br>
		<span class="total"></span>
		<br>
		<div class="accountList">
		</div>
		
	<script th:inline="javascript">
		//var userVal = document.getElementById("mySelect1").selectedIndex;
		
		const accountTotal = [[${accountTotal}]];
		console.log(accountTotal)
		
		const plusList = [[${plusList}]];
		const remitList = [[${remitList}]];
		console.log(plusList, remitList)
		
		let totalList = plusList.concat(remitList);
		console.log('정렬전 >>> ',totalList);
		let totalSorted = totalList.sort((a, b) => {
			return new Date(a.exchage_date) - new Date(b.exchage_date)
		});
		console.log(totalSorted);
		
		const accountList = document.querySelector(".accountList");
		const account_select = document.querySelector("#account_select");
		const total = document.querySelector(".total");
		
		const funcSelectOption = () => {
			let newPTagMoney;
			let newPTagDate;
			let newPTagSign;
			let selectIndex = account_select.selectedIndex;
			total.innerText = `총 잔액 : ${accountTotal[selectIndex - 1]}원`;
			if(document.querySelectorAll(".newptag").length !== 0){

				accountList.replaceChildren();
			}
			for(let i = 0; i < totalSorted.length; i++){
				if(totalSorted[i].account_num === account_select.value){
					
					if(totalSorted[i].exchange_sign === '+'){
						newPTagSign = document.createElement('p');
						newPTagSign.setAttribute("class", 'newptag');
						newPTagSign.innerText = '입금';
					}
					else{
						newPTagSign = document.createElement('p');
						newPTagSign.setAttribute("class", 'newptag');
						newPTagSign.innerText = '출금';
					}
					newPTagMoney = document.createElement('p');
					newPTagMoney.setAttribute("class", "newptag");
					
					newPTagDate = document.createElement('p');
					newPTagDate.setAttribute("class","newptag");
					
					newPTagMoney.innerText = totalSorted[i].exchange_money;
					newPTagDate.innerText = totalSorted[i].exchage_date;
					accountList.appendChild(newPTagSign);
					accountList.appendChild(newPTagDate);
					accountList.appendChild(newPTagMoney);	
				}
			}
		}
		account_select.addEventListener("change", funcSelectOption);
	</script>
</body>
</html>