@charset "UTF-8";
@charset "UTF-8";

.register_display{
	display: none;
}

input, button{
  border: none;
  outline: solid #87CEFA;
  outline-width: thin;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
}

.submit, .back{
  margin-top: 10px;
  background: #1E90FF;
  text-transform: uppercase;
}

button:active {
  transform: scale(0.95);
}

h1 {
  font-weight: bold;
  margin: 10;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

form div {
    display: flex; /* 내부 div 요소들을 가로로 나열 */
    flex-direction: row;
    margin-bottom: 10px; /* 요소들 사이의 간격 설정 */
}

.input-container {
    position: relative;
    display: inline-block;
}

#total-unit {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}
    
form input{
	display:flex;
	margin-bottom: 30px;
}

.title{
	margin: 20px 0px 20px 0px;
}
.accountMake__title{
	margin-top: 80px;
	margin-bottom: 30px;
}
.commonBtn{
	width: 300px;
	margin-bottom: 80px;
}
.accountList{
	text-align: center;
}
.select__total{
	text-align: center;
}
.accountList{
	text-align: center;
	width: 600px;
}

.accountList_table{
	margin-top: 120px;
	width: 100%;
	
}
.accountList_table tr th{
	text-align: center;
}
