@charset "UTF-8";
@charset "UTF-8";

.register_display{
	display: none;
}

input, button{
  border: none;
  outline: solid #87CEFA;
  outline-width: thin;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
}

.submit, .back{
  margin-top: 10px;
  background: #1E90FF;
  text-transform: uppercase;
}

button:active {
  transform: scale(0.95);
}

h1 {
  font-weight: bold;
  margin: 10;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

form div {
    display: flex; /* 내부 div 요소들을 가로로 나열 */
    flex-direction: row;
    margin-bottom: 10px; /* 요소들 사이의 간격 설정 */
}

.input-container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#total-unit {
    position: absolute;
    right: 8px;
    top: 45%;
    transform: translateY(-50%);
}
    
form input{
	display:flex;
	margin-bottom: 30px;
}

.title{
	margin: 20px 0px 20px 0px;
}
.accountMake__title{
	margin-top: 80px;
	margin-bottom: 30px;
}
.commonBtn{
	width: 300px;
	margin-bottom: 80px;
}
.accountList{
	text-align: center;
}
.select__total{
	text-align: center;
}
.accountList{
	text-align: center;
	width: 600px;
}
input-container
{
	margin-top: 120px;
	padding: 20px;
	width: 80%;
	text-align: center;
	
}
.tableSection{
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
}
.totalMoney{
	display:inline-block;
	margin-top: 25px;
	font-size: 25px;
}
table {
  border-collapse: collapse;
  width: 75%;
  margin: 20px 0px 40px 0px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

 /* 테이블 행 */
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #1b1b1b;
  color: #ddd;
}

/* 테이블 올렸을 때 */
tr:hover {
  background-color: #d3d3d3;
  opacity: 0.9;
  cursor: pointer;
}
th:nth-child(1),
td:nth-child(1) {
  width: 25%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 25%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 25%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 25%;
}