<th:block th:fragment="footerFragment">
<div id="footer" class="clearfix">
	<div id="introFoot">
		<h2 class="description">우리은행정보 및 우리은행관련사이트</h2>
		<div class="content">
			<div class="footer-content">
				<div class="footer-link">
					<div class="links">	
						<div class="more">
							<dl class="js-display-hover ars" data-ui-animation="true">
								<dt><a href="#none" class="js-display-hover-trigger">대표 <strong>1588-5000</strong></a></dt>
								<dd class="etc_box js-display-hover-area w330 left_m30">
									<ul>
										<li class="title">ARS 이용안내</li>
										<li class="ars-list clearfix w330">
											<div class="left blue">대표전화</div>
											<div class="right">
												<p class="top">1588-5000 / 1599-5000 / 1533-5000</p>
												<p class="bot">82-2-2006-5000<span class="gray">(해외)</span></p>
											</div>
										</li>
										<li class="ars-list clearfix">
											<div class="left gray">고객의 말씀</div>
											<div class="right">
												<p class="top">080-365-5000</p>
												<p class="bot">(휴대폰 02-2008-5000)</p>
											</div>
										</li>
										<li class="ars-list none clearfix">
											<div class="left blue">신규상담</div>
											<div class="right">
												<p class="top"><span class="lltop">예적금</span> 1599-8100</p>
												<p class="bot"><span class="lltop">대출</span> 1599-8300</p>
											</div>
										</li>
									</ul>
									<span class="country-arrow"></span>
								</dd>
							</dl>
							<dl class="js-display-hover etc" data-ui-animation="true">
								<dt><a href="#none" class="js-display-hover-trigger">기타서비스</a></dt>
								<dd class="etc_box js-display-hover-area">
									<ul>
										<li class="title">기타서비스</li>
										<li>
		 
											<a href="#popup" title="팝업새창" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMBBS0092', '법원환급금','720','515','1','1');return false;">법원환급금조회</a>
											<a href="#popup" title="팝업새창" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMCOM0328', '미교부국민주조회','787','570','1','1');return false;">미교부국민주조회</a>
											<a href="#popup" title="팝업새창" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMSPD0042', '상조회사예치금조회','735','450','1','1');return false;">상조회사예치금조회</a>
											<a href="#popup" title="팝업새창" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMSPD0012', '예금잔액증명서발급조회','860','720','1','1');return false;">예금잔액증명서발급조회</a>
											<a href="#popup" title="팝업새창" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMBBS0091', '지급보증서발급조회','740','620','1','1');return false;">지급보증서발급조회</a>
											<a href="#popup" title="팝업새창" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMLGN0011', '서울시예치금내역조회','880','600','1','1');return false;">서울시예치금내역조회</a>
										</li>
										
										
									</ul>
									<span class="country-arrow"></span>
								</dd>
							</dl>
							<dl class="js-display-hover language" data-ui-animation="true">
								<dt><a href="#none" class="js-display-hover-trigger">LANGUAGE</a></dt>
								<dd class="country-box js-display-hover-area">
									<ul>
										<li class="title">LANGUAGE</li>
										<li><a  href="https://spot.wooribank.com/pot/Dream?withyou=en&amp;LCL=EN" class="flag-us">English</a></li>
										<li><a  href="https://svc.wooribank.com/svc/Dream?withyou=ml&amp;LCL=ZH-CHS" class="flag-china">中國語</a></li>
										<li><a  href="https://svc.wooribank.com/svc/Dream?withyou=ml&amp;LCL=JA" class="flag-japan">日本語</a></li>
										<li><a  href="https://svc.wooribank.com/svc/Dream?withyou=ml&amp;LCL=TL" class="flag-philippines">Tagalog</a></li>
										<li><a  href="https://svc.wooribank.com/svc/Dream?withyou=ml&amp;LCL=VI" class="flag-vietnam">tiếng Việt</a></li>
										<li><a  href="https://svc.wooribank.com/svc/Dream?withyou=ml&amp;LCL=MN" class="flag-mongolia">Монгол хэл</a></li>
									</ul>
									<span class="country-arrow"></span>
								</dd>
							</dl>
							<dl class="js-display-hover family" data-ui-animation="true">
								<dt><a href="#none" class="js-display-hover-trigger">패밀리사이트</a></dt>
								<dd class="family-box js-display-hover-area height260 w320">
									<ul>
										<li class="title w100p ml0">패밀리사이트</li>
										<li>
												
											<a title="새창열림" href="https://www.woorifg.com/" target="_blank">우리금융지주</a></li>
											<li><a title="새창열림" href="https://www.wooricredit.com/" target="_blank">우리신용정보</a></li>
											<li><a title="새창열림" href="https://www.wooricard.com/" target="_blank">우리카드</a></li>
											<li><a title="새창열림" href="http://www.woorifs.co.kr/" target="_blank">우리펀드서비스</a></li>
											<li><a title="새창열림" href="https://www.woorifcapital.com/" target="_blank">우리금융캐피탈</a></li>
											<li><a title="새창열림" href="http://www.wooripe.com/" target="_blank">우리PE</a></li>
											<li><a title="새창열림" href="https://www.wooriib.com/" target="_blank">우리종합금융</a></li>
											<li><a title="새창열림" href="http://www.woorifis.com/" target="_blank">우리FIS</a></li>
											<li><a title="새창열림" href="http://www.wooriat.com/" target="_blank">우리자산신탁</a></li>
											<li><a title="새창열림" href="http://www.wfri.re.kr/" target="_blank">우리금융경영연구소</a></li>
											<li><a title="새창열림" href="http://www.wooriam.kr/" target="_blank">우리자산운용</a></li>
											<li><a title="새창열림" href="https://www.woorifoundation.or.kr/" target="_blank">우리다문화장학재단</a></li>
											<li><a title="새창열림" href="https://www.woorisavingsbank.com/" target="_blank">우리금융저축은행</a></li>
											<li><a title="새창열림" href="http://www.woorimiso.or.kr/" target="_blank">우리미소금융재단</a></li>
									</ul>
									<span class="family-arrow"></span>
								</dd>
							</dl>
						</div>
					</div>
					
				</div>
				<div class="footer-bottom clearfix">
		
					<div class="logo">
						<a href="/">
							<img  alt="해피은행" src="img/common/footer/icon_happy.gif" />
						</a>
					</div>
					<div class="right-content">
						<div class="info">
							<p class="quick">
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=bp">은행소개</a>&nbsp;&nbsp;|&nbsp;
								<a href="#popup" onclick="jsOpenWindow('https://spib.wooribank.com/pib/Dream?withyou=CMCOM0153', '영업점안내','890','700','1','1');return false;">영업점안내</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=cq">고객광장</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0048" class="font-bold font-c-5">개인정보처리방침</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0132" class="font-bold font-c-5">신용정보활용체제</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0049">개인신용정보관리보호</a><br />
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQACR0001">사고신고</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQCSD0001">전자민원접수</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=POTRT0033">보호금융상품등록부</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQPNC0002">상품공시실</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQSCT0001">보안센터</a>&nbsp;&nbsp;|&nbsp;
								<a  href="https://spot.wooribank.com/pot/Dream?withyou=CQIBG0050">웹접근성 이용안내</a>
							</p>
							<p class="copyright">COPYRIGHTS WOORI BANK. ALL RIGHTS RESERVED.</p>
						</div>
						<div class="inof2">
						
						
							
						
							<div class="js-display-hover icon icon-0 ml5" data-ui-animation="true">
								<a href="http://www.webwatch.or.kr/Situation/WA_Situation.html?MenuCD=110" target="_blank" class="js-display-hover-trigger">
								<img  height="21px" width="34px" alt="과학기술정보통신부 WA(WEB접근성) 품질인증 마크, 웹와치(WebWatch) 2024.04.30 ~ 2025.04.29" title="WA 품질인증 마크, 웹와치(WebWatch) 2024.04.30 ~ 2025.04.29" src="https://simg.wooribank.com/img/main/icon_kwacc_ib_2024.png" /></a>
								<div class="icon-box js-display-hover-area">
									2024 웹 접근성<br />우수사이트
									<span class="arrow"></span>
								</div>
							</div>
							
							
							<div class="js-display-hover icon icon-1" data-ui-animation="true">
								<a href="#none" class="js-display-hover-trigger"><img  alt="2019 고객감동경영대상 종합대상 12년 연속 수상" src="https://simg.wooribank.com/img/main/icon_1_new.gif" /></a>
								<div class="icon-box js-display-hover-area">
									2019 고객감동경영대상<br />종합대상 12년 연속 수상
									<span class="arrow"></span>
								</div>
							</div>
							<div class="js-display-hover icon icon-2" data-ui-animation="true">
								<a href="#none" class="js-display-hover-trigger"><img  alt="The Banker Awards 2020 우리은행 3관왕 수상" src="https://simg.wooribank.com/img/main/icon_20201215.png" /></a>
								<div class="icon-box js-display-hover-area">
									The Banker Awards 2020<br />우리은행 3관왕 수상
									<span class="arrow"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
		<div class="content">
		</div>
	</div>
</th:block>