<th:block th:fragment="headerFragment">
<link  rel="stylesheet" href="css/base.css" type="text/css" />
<link  rel="stylesheet" href="css/intro_new.css" type="text/css" />
<!--[if gt IE 9]><!-->
<link  rel="stylesheet" href="css/intro.trans.css" type="text/css" />
<link  rel="stylesheet" href="css/import.css" type="text/css" />
<link rel="stylesheet" href="css/position/position.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap" rel="stylesheet" />
<link  rel="stylesheet" href="https://simg.wooribank.com/css/onetouch/com/lib/swiper.min.css?1480604402000" type="text/css" />
<div id="introHeader" class="re_new">
	<div class="content h66"  name="crmArea" id="introCrm_01">
		<h1 class="absolute">
			<a href="/">
				<img  alt="해피은행" src="img/intro/header/h1_01.png" />
			</a>
		</h1>
	<div class="tit-0 absolute js-display-hover">
		<a href="#none" class="gnb-member-bt js-display-hover-trigger renew_login"><span>로그인</span></a>
		<div class="js-display-hover-area level2"></div>
	</div>
<div class="userAndlogout">
	<a th:if="${session.login != null}" th:href="@{mypage(id=${session.login.id})}">
		<span th:text="${session.login.name} + '님' "></span>
	</a>
	<span><a th:if="${session.login != null}" href="logout">로그아웃</a></span>
</div>				
			<div class="register_login_section">
				<div class="register">
					<a href="register" th:if="${session.login == null}">회원가입</a>
				</div>
				<div class="login">
					<a href="login" th:if="${session.login == null}">로그인</a>
				</div>
			</div>
	</div>
	<div class="content notice">		
	</div>
</div>
<hr>
</th:block>